# Ignoring backup folders
backup/
# Ignoring PyCharm cach files
/.idea
/ecodev_core/.idea
__pycache__/
venv/
.python-version
.mypy_cache/
# Ignoring PyCharm cach files
# Ignoring files other than code
*.png
*.xlsx
# Ignoring notebooks
.ipynb
.ipynb_checkpoints
*.ipynb
*.ipynb_checkpoints
# ignoring data
data/
db_data/
#ignoring environment file
.env
.vscode
