bcrypt==4.*
cryptography==46.*
fastapi==0.*
httpx==0.*
itsdangerous==2.*
openpyxl==3.*
notebook==6.*
pandas==2.*
passlib[bcrypt]==1.*
progressbar2==4.*
psycopg2[binary]==2.*
pydantic[python-dotenv]==2.*
pydantic-settings==2.*
pydeps==1.*
python-jose[cryptography]==3.*
python-multipart==0.*
sqlmodel==0.*
sqladmin==0.15.2
requests==2.*
